<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segmentasi</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        body {
            background-image: url('static/image/image.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            /*Tambahkan atribut di atas untuk gambar latar belakang dengan efek parallax*/
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <nav class="bg-pink-300">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="https://flowbite.com/" class="flex items-center">
                <img src="static\image\logo.png" class="h-12 mr-3 sm:h-9" alt="Flowbite Logo">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Soka</span>
            </a>
        
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                <ul
                    class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Beranda</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700
                             dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Tentang kami</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700
                             dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Bantuan</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center">
    <h1>Segmentasi</h1>
    </div>

    <div class="container">
        <div class="content">
            <form action="{{ url_for('segmentasi') }}" enctype="multipart/form-data" method="POST">
                <input type="file" name="file" accept="image/*" required>
                <br>
                <button type="submit">Submit</button>
            </form>
            <br>
                <div class="result-container">
                    {% if original_image %}
                    <div class="image-container">
                        <h2>Gambar Asli</h2>
                        <img class="original" src="{{ original_image }}" alt="Original Image">
                    </div>
                    {% endif %}
                    {% if segmentation_image %}
                    <div class="image-container">
                        <h2>Hasil Segmentasi</h2>
                        <img class="segmentation" src="{{ segmentation_image }}" alt="segmentation Result">
                    </div>
                    {% endif %}
                </div>
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>


